@model HamburguerListViewModel




<div>
    <h1 style="text-align:center;">@Model.CategoriaAtual</h1>
</div>


<hr />


<div class="container">
    <div class="row">
        @foreach (var hamb in Model.Hamburguer)
        {
            <partial name="_HamburguerResumo" for="@hamb" />
        }
    </div>
</div>
